.sky {
  width: 32%;
  height: 540px;
  /* padding: 0px; */
}

body {
  overflow-x: hidden;
  background-color: black;
}

.text{
  font-family: 'Allura', cursive;
}

h1{
  font-size: 70px;
  text-align: center;
  color:#EBC815;
}

.content_main {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 67%;
  /* background-image: url("Images/color-seamless-space-pattern_102902-2360.avif"); */
  background: rgb(126, 0, 236);
  background: linear-gradient(47deg, rgba(126, 0, 236, 1) 13%, rgba(76, 5, 165, 1) 41%, rgba(35, 0, 71, 1) 78%);
  border-radius: 10px;
}

/* }
body{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.image_container {
  /* opacity: 0; */
  position: absolute;
  right: -1px;
  top: 50px;
  background-color: black;
}
